@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    min-height: 100vh;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}


table {
    padding: 10px;
}

th,td {
    text-align: left;
    padding: 8px;
    color:orange;
}


/* CARDS--------------------------------------------------- */
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* CARDS--------------------------------------------------- */

/* -------------------------side-menu---------------------- */

li {
    list-style: none;
}

.side-menu {
    position: fixed;
    background: orange;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: orange;
    color: white;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: orange;
        padding: 8px 38px;
        border: 2px solid black;
    }
    .side-menu a {
        text-decoration: none;
        font-style: none;
    }
    .side-menu a:visited {
        color: white;
    }
    
}
/* -------------------------side-menu---------------------- */
@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}
/* -----------------------Profile Book Table---------------------------- */
.prof-table{
    border: orange solid 2px;
    margin: auto;
}
.prof-th,.prof-td{
    border: orange solid 2px;
    padding: 20px;
    font-size: 30px;
    
}
.prof-th:hover,.prof-td.prof-td:hover{
    background-color: orange;
    color: white;
    
    
}

/* -----------------------Profile Book Table---------------------------- */
font{
    size: 10px;
    text-decoration: underline;
    
}
